/* Global style */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f1;
}
img {
    width: 100%;
    height: auto;
}
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}
.container-fluid {
    overflow: hidden;
}
.overflow {
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}
ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
/* custom utility class */
.border-4 {
    border-width:4px !important;
}
/* header style */
header .navbar {
    /* background-color: #3498db !important; */
    z-index: 9999;
}
.navbar ul li a {
    transition: .8s;
    text-transform: uppercase;
}
.navbar ul li a:hover,.navbar ul li.active a {
    color: #17A2B8 !important;
}   

#carouselExampleIndicators ol li {
    background-color: #ffffff;
    height: 10px;
}
#carouselExampleIndicators ol li.active {
    background-color: #2ecc71;
}

/* Content box style */
.bg-custom {
    border-left: 4px solid #2ecc71;
    background-image: linear-gradient(to right,#ebfaf188,#ebfaf123);
}
#smallCarousel ol li {
    background-color: #ffffff;
    height: 5px;
}
#smallCarousel ol li.active {
    background-color: #2ecc71;
}

/* slogan styles */
.slogan-content {
    overflow: hidden;
}

/* fixed sidebar style */
.fixed {
    position: fixed;
}
.fixed-left {
	left: 0;
	top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.fixed-right {
    right: 0;
	top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

/* footer area style */
.footer {
    z-index: 9;
    position: absolute;
    width: 100%;
    display: block;
}

/* Responsive styles */
@media all and (max-width: 960px){
    .fixed {
        position: absolute;
    }
    .fixed-left {
        left: 0;
        top: 40px;
        transform: translateY(0);
    }
    .fixed-right {
        right: 0;
        top: 40px;
        transform: translateY(0);
    }
}
@media all and (max-width: 765px){
    .fixed {
        position: static;
    }
    .fixed-left {
        left: 0;
        top: 0;
    }
    .fixed-right {
        right: 0;
        top: 0;
    }
}